body{
    background-size: cover;
    pointer-events: none;
}
button
{
    pointer-events: initial;
}
.heading
{
    width: 100%;
    margin-top: 0px;
    font-size: 25px;
}
#footer
{
    bottom: 0;
    background-color: grey;
    position: fixed;
    width: 100%;
    font-size: 15px;
    color: white;
    font-family: initial;
    text-align: center;
    line-height: 2;
}
canvas{
    border: 10px ridge pink;
    border-radius: 10px;
    box-shadow: 10px 18px 10px black;
    margin-top: 60px;
}